body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
